/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #FED001;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 400;
}

body {
    font-family: 'Monterrat', sans-serif;
}

p,
a {
    font-size: 1.6rem;
}

nav a {
    color: inherit;
}

.upper {
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    margin: 7.2rem;
}

h3 {
    font-size: 3.2rem;
}

/*Estilo dos Container*/

.wrapperContainer-dark {
    background-color: #2A2A2A;
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003464;
    color: #fafafa;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

/*Fim estilo container*/

/*Estilo Nav*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_nav a {
    padding: 0.75em 1.15rem;
    border: solid 1px;
    text-decoration: none;
    transition: 1.2s;


}

.header_nav a:hover {
    background-color: var(--primary-color, );
    color: black;
    border: none;

    box-shadow: 0px 1px 10px 5px #947c13;
    border-radius: 10px;



}

.header_nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;

}

/*Fim Nav*/

.wrapperContainer-hero {
    background-image: linear-gradient(transparent, rgb(247, 247, 105), var(--primary-color));
}

/*Estilo herobanner*/

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

h1 {
    font-size: 4.8rem;
    margin-bottom: 5rem;
}

.header_content .btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 10rem;
    font-family: 'Mukta', sans-serif;
    box-shadow: 0px 1px 20px 1px rgb(39, 38, 38);
    color: black;
    display: inline-block;
    transition: 1.2s;
    font-weight: 500;



}

.header_content .btn:hover {

    background-color: black;
    color: var(--primary-color);
    box-shadow: 0px 0px 0px 0px;
    scale: 1.2;
    border-radius: 81px;
}


.cursos {
    text-align: center;
}

.cursosContainer {
    display: flex;
    text-align: left;
    gap: 2rem;

}

.curso_card h3 {
    font-size: 2.4rem;
    margin: 2rem 0;

}

.curso_card p {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    text-align: justify;
}

.curso_card {

    flex: 1;

}

.curso_card img {
    display: block;
    width: 100%;
}

.cursos_card_content {
    padding: 1rem 1.25rem;
    border: 1px solid #949494;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}


.wrapperContainer-light .btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 10rem;
    font-family: 'Mukta', sans-serif;
    box-shadow: 0px 1px 20px 1px rgb(39, 38, 38);
    color: black;
    display: inline-block;
    transition: 1.2s;
    font-weight: 500;
    margin: 7.2rem;
}

.wrapperContainer-light .btn:hover {

    background-color: black;
    color: var(--primary-color);
    box-shadow: 0px 0px 0px 0px;
    scale: 1.2;
    border-radius: 81px;
}